<mat-form-field appearance="outline" class="w-100 shared-form-field">
    <mat-label *ngIf="label">{{ label }}</mat-label>

    <mat-select [formControl]="internalControl" [multiple]="multiple" [disabled]="disabled"
        (selectionChange)="onSelect($event.value)" (openedChange)="searchInput.focus(); updateSelectAllState()"
        class="dropdown-select">
        <!-- Search Box -->
        <div class="search-container p-2 sticky-top">
            <div class="search-wrapper">
                <mat-icon class="search-icon">search</mat-icon>
                <input #searchInput type="text" class="search-input" [placeholder]="placeholder"
                    (input)="filter($event)" (keydown)="$event.stopPropagation()" />
            </div>
        </div>

        <!-- Select All Option -->
        <mat-option *ngIf="multiple && enableSelectAll" class="select-all-option" (click)=" ($event)"
            (keydown.enter)="toggleSelectAll($event)">
            <mat-pseudo-checkbox [state]="selectAllState"></mat-pseudo-checkbox>
            <span>Select All</span>
        </mat-option>

        <!-- List Options -->
        <mat-option *ngFor="let item of filteredList" [value]="valueField === 'object' ? item : item[valueField]">
            {{ item[displayField] }}
        </mat-option>

        <!-- No Results -->
        <div *ngIf="filteredList.length === 0" class="no-results p-3 text-center">
            No results found for "{{ searchKeyword }}"
        </div>
    </mat-select>

    <!-- Hint & Error -->
    <mat-error *ngIf="showError">{{ getError() }}</mat-error>
</mat-form-field>