<div class="main-layout-container">
  <!-- Header -->
  <app-sidebar *ngIf="!sidebarState.isHidden()"></app-sidebar>

  <!-- Sidebar + Main Content -->
  <div class="layout-body">
    <!-- Sidebar Navigation -->


    <!-- Main Content Area -->
    <main class="main-content" [class.collapsed-sidebar]="sidebarState.isCollapsed() && !sidebarState.isHidden()"
      [class.full-width]="sidebarState.isHidden()">
      <app-header></app-header>


      <div style="margin: 10px;" *ngIf="!sidebarState.isHidden()">

        <app-breadcrumb></app-breadcrumb>
      </div>

      <div class="router-area p-2">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>