.action-button {
  margin: 4px;
  min-width: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  // gap: 8px;
  // font-weight: 600;
  // transition: all 0.2s ease;
  border-radius: 10px;

  font-size: var(--font-size-base) !important;
  font-weight: 400 !important;
  line-height: 30px !important;
  padding: 0 5px !important;
  // width: 132px;
  height: 30px;
  margin: 0 3px !important;

  &.variant-save {
    background-color: var(--color-save) !important;
    color: white !important;
  }

  &.variant-delete {
    background-color: var(--color-delete) !important;
    color: white !important;
  }

  &.variant-cancel {
    background-color: var(--color-cancel) !important;
    color: white !important;
  }

  &.variant-edit {
    background-color: var(--color-primary) !important;
    color: white !important;
  }

  &.variant-secondary {
    background-color: var(--color-secondary) !important;
    color: white !important;
  }

  .spin {
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


mat-icon {
  margin: 0 !important;
}