<div class="modules-container">
  <!-- <div class="modules-header">
    <div class="header-top">
      <h1>System Modules</h1>
      <p class="subtitle">Manage and configure available modules in your system</p>
    </div>
  </div> -->

  <!-- Loading State -->
  <!-- <div *ngIf="isLoading" class="loading-state">
    <div class="spinner"></div>
    <p>Loading modules...</p>
  </div> -->

  <!-- Modules Grid -->


  <!-- Loading State -->


  <!-- Empty State -->
  @if(modules().length === 0){
  <div class="empty-state">
    <p>No modules available</p>
  </div>
  }
  @else{
  <div class="modules-grid my-3">
    @for(module of modules(); track $index){
    <div class="module-card" (click)="openModule(module)">
      <div class="module-icon">{{ module.image }}</div>
      <div class="module-info">
        <h2 class="module-name">{{ module.moduleName }}</h2>
        <p class="module-description">{{ module.moduleName }}</p>
        <div class="module-meta">
          <span class="status" [class.active]="module.mStatus">
            {{ module.mStatus }}
          </span>
          >
        </div>
      </div>

    </div>
    }
  </div>
  }
</div>